@model PagedList.IPagedList<LoaiSp>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách loại sản phẩm</h2>

<p>
    <a asp-action="Create" asp-controller="ProductCategory" class="btn btn-success">Thêm loại sản phẩm</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Mô tả
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                <a class="btn btn-success" asp-area="Admin" asp-action="Edit" asp-controller="ProductCategory" asp-route-id="@item.Ma">Sửa</a>
                <a class="btn btn-success" asp-area="Admin" asp-action="Details" asp-controller="ProductCategory" asp-route-id="@item.Ma">Chi tiết</a>
                <a class="btn btn-success" asp-area="Admin" asp-action="Delete" asp-controller="ProductCategory" asp-route-id="@item.Ma">Xóa</a>
            </td>
        </tr>
    }

</table>