@model TinTuc

@{
    ViewBag.Title = "Admin - Xóa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4 text-center">Xóa tin tức</h2>
<div class="container mt-3">
    <dl class="row">
        <dt class="col-sm-3">Mã CM</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaCm)</dd>

        <dt class="col-sm-3">Mô tả ngắn</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MotaNgan)</dd>

        <dt class="col-sm-3">Mô tả</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Mota)</dd>

        <dt class="col-sm-3">Ngày đăng</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayDang)</dd>

        <dt class="col-sm-3">Ảnh</dt>
        <dd class="col-sm-9">
            <img src="@Html.DisplayFor(model => model.Anh)" height="100" width="100" class="img-thumbnail" onerror="this.onerror=null; this.src='default-image.png';" />
        </dd>

        <dt class="col-sm-3">Người đăng</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NguoiDang)</dd>

        <dt class="col-sm-3">Tiêu biểu</dt>
        <dd class="col-sm-9">
            @if (Model.TieuBieu== true)
            {
                <span class="badge bg-success">Tiêu biểu</span>
            }
            else
            {
                <span class="badge bg-secondary">Không tiêu biểu</span>
            }
        </dd>

        <dt class="col-sm-3">Loại tin</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.LoaiTin)</dd>

        <dt class="col-sm-3">Tên</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaCmNavigation.Ten)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions mt-4">
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" asp-controller="Blog" asp-area="Admin" class="btn btn-secondary">Trở về danh sách</a>
        </div>
    }
</div>
