@model TinTuc

@{
    ViewBag.Title = "Admin - Xóa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoá tin tức</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            Mã CM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCm)
        </dd>

        <dt>
            Mô tả ngắn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotaNgan)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Anh)" height="100px" width="100px" />
        </dd>

        <dt>
            Người đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDang)
        </dd>

        <dt>
            Tiêu biểu
        </dt>

        <dd>
            @if(Model.TieuBieu == true)
            {
            <span>Tiêu biểu</span>
            }
            else
            {
            <span>Không tiêu biểu</span>
            }
        </dd>

        <dt>
            Loại tin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTin)
        </dd>

        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCmNavigation.Ten)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-success" />
            <a asp-action="Index" asp-controller="Blog" asp-area="Admin" class="btn btn-success">Trở về danh sách</a>
        </div>
    }
</div>
