@model TinTuc

@{
    ViewBag.Title = "Admin - Chi tiết tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tin Tuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotaNgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotaNgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuBieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuBieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCmNavigation.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCmNavigation.Ten)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success" asp-area="Admin" asp-action="Edit" asp-controller="Blog" asp-route-id="@Model.Ma">Sửa</a>
    <a class="btn btn-success" asp-area="Admin" asp-action="Index" , asp-controller="Blog">Quay lại danh sách</a>
</p>
