@model TinTuc

@{
    ViewBag.Title = "Admin - Sửa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4">Sửa tin tức</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Ma)

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mã CM</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.MaCm, (SelectList)ViewBag.MaCM, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaCm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mô tả ngắn</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.MotaNgan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotaNgan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Mota, new { @class = "form-control" })
                <script type="text/javascript">
                    CKEDITOR.replace("Mota");
                </script>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày đăng</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.NgayDang, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ảnh</label>
            <div class="col-sm-10">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Anh, new { @class = "form-control", id = "Anh" })
                    <button type="button" class="btn btn-outline-secondary" id="browse">Browse</button>
                </div>
                <img src="@Model.Anh" id="anhtin" class="img-thumbnail mt-2" width="100" height="100" style="display:@(string.IsNullOrEmpty(Model.Anh) ? "none" : "block");" />
            </div>
        </div>

        <script type="text/javascript">
            $("#browse").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#Anh").val(fileUrl);
                    $("#anhtin").attr("src", fileUrl).show();
                }
                finder.popup();
            });
        </script>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Người đăng</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.NguoiDang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NguoiDang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tiêu biểu</label>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.TieuBieu ?? false, new { @class = "form-check-input" })
                    @Html.ValidationMessageFor(model => model.TieuBieu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Loại tin</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.LoaiTin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoaiTin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="mt-4">
    <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
</div>
