@model IEnumerable<TinTuc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Admin - Tìm kiếm tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4">Tìm kiếm tin tức</h2>

<form class="form-inline mb-3" asp-area="Admin" asp-action="Search" asp-controller="Blog" method="post">
    <div class="form-group mr-2">
        <label for="exampleInputName2" class="mr-2">Nhập thông tin:</label>
        <input type="text" class="form-control" name="keyWord" id="example" placeholder="Nhập tiêu đề cần tìm">
    </div>
    <button type="submit" class="btn btn-primary">Tìm</button>
</form>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Mô tả ngắn</th>
                <th>Mô tả</th>
                <th>Ngày đăng</th>
                <th>Ảnh</th>
                <th>Người đăng</th>
                <th>Tiêu biểu</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="9" class="text-center">Không tìm thấy sản phẩm nào phù hợp với từ khóa của bạn.</td>
                </tr>
            }else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MotaNgan)</td>
                        <td>@Html.Raw(item.Mota)</td>
                        <td>@Html.DisplayFor(modelItem => item.NgayDang)</td>
                        <td><img src="@item.Anh" class="img-thumbnail" width="100" height="100" /></td>
                        <td>@Html.DisplayFor(modelItem => item.NguoiDang)</td>
                        <td>@Html.DisplayFor(modelItem => item.TieuBieu)</td>
                        <td>
                            <a class="btn btn-sm btn-success" asp-area="Admin" asp-action="Edit" asp-controller="Blog" asp-route-id="@item.Ma">Sửa</a>
                            <a class="btn btn-sm btn-info text-white" asp-area="Admin" asp-action="Details" asp-controller="Blog" asp-route-id="@item.Ma">Chi tiết</a>
                            <a class="btn btn-sm btn-danger" asp-area="Admin" asp-action="Delete" asp-controller="Blog" asp-route-id="@item.Ma">Xóa</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>