@model organic_food_store.Models.DonHang

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucTt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucTt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.Ma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Ma" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
