@model organic_food_store.Models.DonHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucTt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucTt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.Ma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
