@model IEnumerable<DonHang>

@{
    ViewBag.Title = "Admin - Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách đơn hàng</h2>
<p>
    <a asp-action="Create" asp-controller="Order" class="btn btn-success">Thêm đơn hàng mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên người nhận
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Phí giao
        </th>

        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiGiao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucTt)
            </td>
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-controller="Order" asp-route-id="@item.Ma" class="btn btn-success">Sửa</a>
                <a asp-area="Admin" asp-action="Delete" asp-controller="Order" asp-route-id="@item.Ma" class="btn btn-success">Xóa</a>
            </td>
        </tr>
    }

</table>
