@model IEnumerable<organic_food_store.Models.Sp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhNho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tskt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuBieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dvt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhNho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tskt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuBieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiNavigation.Ma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ma">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ma">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ma">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
