@model PagedList.IPagedList<Sp>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Admin - Tìm kiếm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Tìm kiếm thông tin về sản phẩm</h2>


<form class="form-inline" asp-area="Admin" asp-action="Search" asp-controller="Product" method="post">
    <div class="form-group">
        <label for="exampleInputName2">Nhập thông tin cần tìm</label>
        <input type="text" class="form-control" name="keyWord" id="example" placeholder="nhập tên sản phẩm">
        <button type="submit" class="btn btn-default">Tìm</button>
    </div>

</form>

<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Tiêu biểu
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Xoá
        </th>

        <th>
            Giá
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Đơn vị tính
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Ten
            </td>
            <td>
                <img src="@item.AnhNho" width="100" height="100" />
            </td>
            <td>
                @if (@item.TieuBieu == true)
                {
                    <span>Tiêu biểu</span>
                }
                else
                {
                    <span>Không tiêu biểu</span>
                }
            </td>
            <td>
                @if (@item.TrangThai == true)
                {
                    <span>Hoạt động</span>
                }
                else
                {
                    <span>Không hoạt động</span>
                }
            </td>
            <td>
                @if (@item.Xoa == true)
                {
                    <span>có</span>
                }
                else
                {
                    <span>Không</span>
                }
            </td>
            <td>
                @Convert.ToDecimal(item.Gia).ToString("##,#")
            </td>

            <td>
                @item.NgayDang
            </td>
            <td>
                @item.Dvt
            </td>

            <td>
                <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Ma">Sửa</a> |
                <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Details" asp-route-id="@item.Ma">Chi tiết</a> |
                <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Ma">Xoá</a>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    @for (var i = 1; i <= Model.PageCount; i++)
    {
        <a href="javascript:void(0);" class="page-link" onclick="loadPage(@i);">@i</a>
    }
</div>

<script>
    function loadPage(pageNumber) {
        $.ajax({
            url: '@Url.Action("Timkiem")',
            type: 'POST',
            data: { page: pageNumber, keyword: $('input[name="keyword"]').val() },
            success: function (data) {
                $('#sp_area').html(data); // Cập nhật nội dung của phần tử có id là "sp_area"
            }
        });
    }
</script>
