@model IEnumerable<CartItem>;
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var tongtien = 0.0;
}

<h2 style="text-align:center"><b>GIỎ HÀNG</b></h2>

@if (Model.Count() > 0)
{
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="@item.Product.AnhNho" width="300px" height="300px" alt="">
                                        </td>
                                        <td class="shoping__cart__price">
                                            @if (item.Product.KhuyenMai == null)
                                            {
                                                <h5>@Convert.ToDecimal(@item.Product.Gia).ToString("##,#")</h5>
                                            }
                                            else
                                            {
                                                decimal km = Convert.ToDecimal(item.Product.Gia * (100 - item.Product.KhuyenMai) / 100);
                                                <h5>@Convert.ToDecimal(km).ToString("##,#")</h5>
                                            }

                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <a class="col-md-1" asp-action="ReduceQuantity" asp-controller="Cart" asp-route-id="@item.Product.Ma">-</a>
                                                <input type="text" class="col-md-2" style="padding:0;margin:0;" value="@item.Quantity" />
                                                <a class="col-md-1" asp-action="IncreaseQuantity" asp-controller="Cart" asp-route-id="@item.Product.Ma">+</a>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @{
                                                var tong = item.Quantity * item.Product.Gia;
                                                double km1 = Convert.ToDouble(item.Product.Gia * (100 - item.Product.KhuyenMai) / 100);
                                                var tong2 = item.Quantity * km1;
                                                if (item.Product.KhuyenMai == null)
                                                {
                                                    tongtien = tongtien + (double)tong;
                                                }
                                                else
                                                {
                                                    tongtien = tongtien + tong2;
                                                }

                                            }
                                            @if (item.Product.KhuyenMai == null)
                                            {
                                                <span>
                                                    @Convert.ToDecimal(tong).ToString("##,#")
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    @Convert.ToDecimal(tong2).ToString("##,#")
                                                </span>
                                            }

                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a asp-action="Remove" asp-controller="Cart" asp-route-id="@item.Product.Ma"><span class="icon_close"> </span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-action="Index" asp-controller="Home" class="primary-btn cart-btn"> Mua tiếp</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right">
                            <span class="icon_loading"></span>
                            Cập nhật giỏ hàng
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Mã giảm giá</h5>
                            <form action="#">
                                <input type="text" placeholder="Nhập mã giảm giá">
                                <button type="submit" class="site-btn">Gửi mã</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Tổng cộng</h5>
                        <ul>
                            <li>Tổng tiền <span>@Convert.ToDecimal(tongtien)</span></li>
                            <li>Tổng cộng <span>@Convert.ToDecimal(tongtien)</span></li>
                        </ul>
                        <a asp-action="Payment" asp-controller="Cart" class="primary-btn">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Giỏ hàng trống</h2>
                <br />
                <a asp-action="Index" asp-controller="Home">Tiếp tục mua hàng</a>
            </div>
        </div>
    </div>
}
<!-- Shoping Cart Section End -->
