@model Sp
@{
    List<Sp> sameProducts = (List<Sp>)ViewBag.pSameType;
}
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.AnhNho" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="/Lib/img/product/details/product-details-2.jpg"
                             src="@Model.Anh1" alt="">
                        <img data-imgbigurl="/Lib/img/product/details/product-details-3.jpg"
                             src="@Model.Anh2" alt="">
                        <img data-imgbigurl="/Lib/img/product/details/product-details-5.jpg"
                             src="@Model.Anh3" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Ten</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(5 Đánh giá)</span>
                    </div>
                    @if (Model.KhuyenMai == null)
                    {
                        <div class="product__details__price">@Convert.ToDecimal(Model.Gia).ToString("##,#")₫</div>
                    }
                    else
                    {
                        // promotion = khuyến mãi
                        decimal promotion = Convert.ToDecimal(Model.Gia * (100 - Model.KhuyenMai) / 100);
                        <div class="product__details__price">@promotion.ToString("##,#")₫</div>
                    }
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1" id="sl">
                            </div>
                            <form action="@Url.Action("ThemGioHang", "GioHang", new { ma = Model.Ma, soluong = 1 })" method="post">
                                <br />
                                <button type="submit">
                                    <span>THÊM VÀO GIỎ</span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <ul>
                        @*Về thêm view bag option*@
                        <li>
                            <b>CHIA SẺ</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Mô tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Chính sách giao hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Đánh giá<span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin sản phẩm</h6>
                                <p>
                                    @Html.Raw(Model.MoTa)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <p>
                                    Căn cứ vào đặc thù sản phẩm tươi sống và nhằm nâng cao chất lượng dịch vụ sau bán hàng, hệ thống thực phẩm sạch Bác Tôm xin trân trọng gửi tới quý khách  hàng Quy định đổi trả sản phẩm tại Bác Tôm như sau:

                                    Bác Tôm đổi trả sản phẩm hoặc hoàn lại tiền mua cho khách hàng đối với sản phẩm lỗi hỏng, khi đáp ứng đồng thời các điều kiện như sau:
                                    Khách hàng khiếu nại trong thời gian quy định đối với từng loại sản phẩm, cụ thể như sau:
                                    Sản phẩm	Thời hạn đổi trả	Giá trị đổi trả
                                    Thịt, cá, hải sản	Trong vòng 48h	100% giá trị đơn hàng
                                    Các loại củ	Trong còng 48h	100% giá trị đơn hàng


                                    Rau tươi

                                    Trong vòng 24h	100% giá trị đơn hàng
                                    Hoa quả ăn ngay

                                    Trong vong 24h	Bằng giá trị hàng hỏng, lỗi
                                    Hoa quả để chín

                                    Trong vòng 72h	Bằng giá trị hàng hỏng, lỗi
                                    Khách hàng cung cấp hóa đơn mua hàng, mang theo sản phẩm lỗi, hỏng hoặc chụp lại hình ảnh làm căn cứ xác định nguyên nhân và giá trị phần sản phẩm bị hỏng, lỗi
                                    Bác Tôm sẽ KHÔNG xử lý khiếu nại với các trường hợp sản phẩm bị hỏng do lỗi của khách hàng trong quá trình vận chuyển, hoặc bảo quản và sử dụng không đúng hướng dẫn. Sản phẩm đã mua xin miễn đổi trả nếu không bị lỗi, hỏng hay có vấn đề về chất lượng.

                                    2. Khách hàng có thể đổi lấy sản phẩm loại khách với  giá trị tương đương với giá trị tiền sản phẩm bị lỗi. Giá trị sản phẩm lỗi bằng lượng sản phẩm lỗi nhân với đơn giá tại thời điểm khách hàng mua sản phẩm

                                    3. Trường hợp khách hàng muốn tiến hành làm thủ tục hoàn lại tiền, giá trị tiền sẽ bằng số lượng sản phẩm hỏng, lỗi nhân với đơn giá sản phẩm tại thời điểm khách hàng mua hàng.

                                    Lưu ý: Quý khách vui lòng kiểm tra và giữ lại hóa đơn trước khi rời quầy thu ngân!

                                    Quý khách có thể xem thêm hướng dẫn mua hàng tại đây hoặc tìm kiếm địa chỉ cửa hàng gần nhất.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Sản phẩm cùng loại</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in sameProducts)
            {
                <div class="col-lg-3">
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Ma">
                        <div class="categories__item set-bg" data-setbg="@item.AnhNho">
                            @*<h5><a asp-action="Chitiet" asp-controller="Sanpham" asp-route-ma="@item.Ma">@item.Ten</a></h5>*@
                        </div>
                    </a>
                    <div class="featured__item__text">
                        <h6><a href="#">@item.Ten</a></h6>
                        <h5>@Convert.ToDecimal(item.Gia).ToString("##,#")</h5>
                        <form asp-action="ThemGioHang" asp-controller="GioHang" method="post">
                            <input type="hidden" name="ma" value="@item.Ma" />
                            <input type="hidden" name="soluong" value="1" />
                            <button type="submit">
                                <span>THÊM VÀO GIỎ</span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script language="javascript">
    var sl = document.getElementById("sl").value;
    sl1 = eval(sl);
</script>