@model IEnumerable<Sp>

@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Kết quả tìm kiếm</a></li>
        </ol>
    </nav>
    @if (ViewBag.kq < 1)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Không tìm thấy sản phẩm phù hợp</h2>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Có @ViewBag.kq kết quả tìm kiếm phù hợp</div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix @item.Ma ">
                    <div class="featured__item">
                        <a href="@Url.Action("Chitiet", "Sanpham", new { ma = item.Ma })">
                            <div class="categories__item set-bg" data-setbg="@item.AnhNho">
                                @*<h5><a href="@Url.Action("Chitiet","Sanpham", new { ma = item.Ma })">@item.Ten</a></h5>*@
                            </div>
                        </a>
                        <div class="featured__item__text">
                            <h6><a href="#">@item.Ten</a></h6>
                            <h5>@Convert.ToDecimal(item.Gia).ToString("##,#")</h5>
                            <form action="@Url.Action("ThemGioHang", "GioHang", new { ma = item.Ma, soluong = 1 })" method="post">
                                <button>
                                    <span>THÊM VÀO GIỎ</span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
</div>
